
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Caley Quizzes</title>
  <link rel="stylesheet" href="../CSS/quizselectstyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div class = "homelogo">
<img src="../images/quizlogo.png" alt="Caley Quizzes">
</div>

<div class = "profilelink">
<ul>
<li><a href="/homequiz">Back</a></li>
</ul>
</div>

<div class = "homenav">

<ul>
  <li><a class="/homequiz">Quizzes</a></li>
  <li><a href="/homeboards">Leaderboard</a></li>
</ul>

</div>

<div class = "admincommandsuser">

<h2> User Commands </h2>

<table>
  <tr><th>Firstname</th><th>Lastname</th><th>Email</th><th>Username</th></tr>
  <% users.forEach(function(user) { %>
        <tr><td><%= user.Firstname %></td><td><%= user.Lastname %></td><td><%= user.Email %></td><td><%= user.Username %></td> </tr>
    <% }); %>
</table>


<div id = "edituserb" class="float-left submit-button">Edit User</div>

<div id = "deleteuserb" class="float-left submit-button">Delete User</div>

</div>

<div class = "admincommandsquiz">

<h2> Quiz Commands </h2>

<table>
    <tr><td>Enter Category ID:</td> <td> <input type="text" id="searchcatid" size="20"></td> </tr>
</table>

<div id = "editcatb" class="float-left submit-button">Edit Category</div>

<br/>

<div id = "deletecatb" class="float-left submit-button">Delete Category</div>

</div>

</body>
</html>
