<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Caley Quizzes</title>
  <link rel="stylesheet" href="ip2style.css">
</head>
<body>

<div class="loginlogo">
<img src="./images/quizlogo.png" alt="Caley Quizzes">
</div>

<div class="loginform">
<table>
    <tr><td>Username:</td> <td> <input type="text" id="newuser" size="20"></td> </tr>
	<tr><td>Email Address:</td> <td> <input type="text" id="newmail" size="20"></td> </tr>
	<tr><td>Password:</td> <td> <input type="text" id="newpass" size="20"></td> </tr>
	<tr><td>Confirm Password:</td> <td> <input type="text" id="newconfpass" size="20"></td>  </tr>	
</table>

<div class = "loginbutton">
<button onclick="location.href = 'login.html';" id="createaccountbutton" class="float-left submit-button">Create Account</button>
<br/>
<br/>
<a href="login.html">Back To Login</a>
</div>
</div>


</body>
</html>
