<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Caley Quizzes</title>
  <link rel="stylesheet" href="../public/CSS/quizselectstyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div class = "homelogo">
<img src="../public/images/quizlogo.png" alt="Caley Quizzes">
</div> 

<div class = "profilelink">
<ul>
<li><a href="/homequiz">Back</a></li>
</ul>
</div>

<div class = "homenav">

<ul>
  <li><a class="/homequiz">Quizzes</a></li>
  <li><a href="/homeboards">Leaderboard</a></li>
</ul>

</div>

<h2> Editing User: <div class = "editingusername"></div></h2>

<br/>

<div class = "currentuserinfo">
<h3>
Username: <div class = "currentname"></div>
<br/>
Password: <div class = "currentpass"></div>
<br/>
First Name: <div class = "currentfname"></div>
<br/>
Last Name: <div class = "currentlname"></div>
<br/>
Email: <div class = "currentemail"></div>
</div>

<div class = "edituseroptions">

<table>
    <tr> <td> <div id = "promoteuserb" class="float-left submit-button">Promote User to Admin</div> </td> <td> <div id = "demoteuserb" class="float-left submit-button">Demote Admin to User</div> </td> </tr>

    <tr> <td>Change UserName: </td> <td> <input type="text" id="editusername" size="20"> </td> </tr>

    <tr> <td>Change Password:</td> <td> <input type="text" id="editpass" size="20"> </td> </tr> 

    <tr> <td>Change First Name:</td> <td> <input type="text" id="editfname" size="20"> </td> </tr> 

    <tr> <td>Change Last Name: </td> <td> <input type="text" id="editlname" size="20"> </td> </tr> 

    <tr> <td>Change Email: </td> <td> <input type="text" id="editemail" size="20"> </td> <td> </tr>  
      
</table>

<td> <div id = "edituserb" class="float-left submit-button">Change</div> </td>

</div>
<br/>
<br/>
</body>
</html>
