<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Caley Quizzes</title>
  <link rel="stylesheet" href="../public/CSS/quizselectstyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div class = "homelogo">
<img src="../public/images/quizlogo.png" alt="Caley Quizzes">
</div> 

<div class = "profilelink">
<ul>
<li><a href="/homequiz">Back</a></li>
</ul>
</div>

<div class = "homenav">

<ul>
  <li><a class="/homequiz">Quizzes</a></li>
  <li><a href="/homeboards">Leaderboard</a></li>
</ul>

</div>

<h2> Editing Category: <div class = "editingcategory"></div></h2>

<br/>

<div class = "editcategoryoptions">

<table>
    <tr> <td>Change Category Name: </td> <td> <input type="text" id="editcatname" size="20"> </td> </tr>
</table>

<br/>

<div id = "editcatb" class="float-left submit-button">Change</div> 

</div>

<br/>

<table>
    <tr><td>Enter Question ID:</td> <td> <input type="text" id="searchquestionid" size="20"></td> </tr>
</table>

<div id = "editquestionb" class="float-left submit-button">Edit Question</div>

<div id = "deletequestionb" class="float-left submit-button">Delete Question</div>


</body>
</html>
