<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Caley Quizzes</title>
<link rel="stylesheet" href="../CSS/ip2style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../JS/login.js" > </script>

</head>
<body id = "output">
<div class="loginlogo">
    <div><img src="../images/quizlogo.png" alt="Caley Quizzes"></div>
</div>

<div class = "createaccountlink">
<a href="createaccount.html">Create Account</a>
</div>

<div class = "loginform">
	<table>
    <tr><td>Username:</td> <td> <input type="text" id="user" size="20"></td> </tr>
	<tr><td>Password:</td> <td> <input type="text" id="pass" size="20"></td> </tr>
</table>

<div class = "loginbutton">
  <div id = "loginb" class="float-left submit-button">Log In</div>
<br/>
<br/>

</div>
</div>

</body>
</html>
