<!DOCTYPE html>
<html>
<head>
<% include ./partials/head %>
<script src="../JS/login.js" > </script>

</head>
<body id = "output">
<div class="loginlogo">
    <div><img src="../images/quizlogo.png" alt="Caley Quizzes"></div>
</div>

<div class = "createaccountlink">
<a href="createaccount" class="btn btn-primary">Create Account</a>
</div>

<div class = "loginform">
  <% if(locals.error) { %>
<h1><%= locals.error %> </h1>
<% } %>
	<table>
    <tr><td>Username:</td> <td> <input type="text" id="user" size="20"></td> </tr>
	<tr><td>Password:</td> <td> <input type="password" id="pass" size="20"></td> </tr>
</table>

<div class = "loginbutton">
  <div id = "loginb" class="float-left submit-button btn btn-primary">Log In</div>
<br/>
<br/>

</div>
</div>

</body>
</html>
