<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Caley Quizzes</title>
  <link rel="stylesheet" href="quizselectstyle.css">
</head>
<body>

<div class = "homelogo">
<img src="./images/quizlogo.png" alt="Caley Quizzes">
</div> 

<div class = "profilelink">
<ul>
<li><a class="active">Profile</a></li>
<li><a href="login.html">Log Out</a></li>
</ul>
</div>

<div class = "homenav">

<ul>
  <li><a href="homequiz.html">Back</a></li>
</ul>

</div>

<div class="profileinfo">
<table>
    <tr> <td>Username:</td> <td> <div class = "profileuser"> </div> </td> <td> <a href ="profilechange.html"> Change </a> </td> </tr>
	<tr> <td>Email Address:</td> <td> <div class = "profilemail"> </div> </td> <td> <a href ="profilechange.html"> Change </a> </td> </tr>
	<tr> <td>Password:</td> <td> <div class = "profilepass"> </div> </td> <td> <a href ="profilechange.html"> Change </a> </td> </tr>
</table>
</div>

</body>
</html>
